@import "../../defaults.scss"; 

.container {
  margin: -15px;
  background: $color-blocks;
  border-radius: $border-radius;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;   
  min-height: 100px;
  width: 100%;

  img { 
    max-width: 50px;
    flex: 0 1 37px;
  }

  .containerInput {
    display: flex;
    flex: 1 1 auto ;
    .input { 
     display: block;
     width: 100%;
     text-decoration: none;
      color: $color-font-primary;
      background-color: $color-input-icons;
      border: none;
      outline: none;
      font-size: 18px;
      height: 60px;
      border-radius: 10px;
      text-indent: 3%;
    
      &:hover {
        box-shadow: $box-shadow-input;
      }
    }

  }

  .button { 
    border: none;
    cursor: pointer;
    height: 60px;
    width: 154px;
    border-radius: $border-radius;
    background: $color-active-buttons;
    color: $color-font-primary;
    font-size: 20px;

    &:active {
      transform: scale(0.99);
    }
  }
}

