@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;700&display=swap');


$color-body: #1E252B;
$color-blocks: #262D34;
$color-input-icons: #2C353D;
$color-active-buttons: #FF6934;
$color-font-primary: #FFFFFF;
$color-font-secondary: #C5D0E6;
$font-primary: 'Source Sans Pro', sans-serif;
$border-radius: 16px;
$box-shadow-input: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -4px 4px rgba(0, 0, 0, 0.25);
